* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

/* Bagian Header */
header {
    background-image: url(img/header.jpeg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

nav {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: all .3s ease-in;
}


nav.scrolling {
    background-color: #504e4e;
}

nav ul {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-around;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease-in-out;
}


nav ul a:hover {
    color: #0004ff;
    cursor: pointer;
}

.logo {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.3px;
    font-size: 28px;
}

.logo:active {
    opacity: .8;
}

.logo a {
    color: white;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    color: white;
    width: 100%;
}

.judul {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2.5em;
    margin-bottom: 8px;
    letter-spacing: .3px;
    text-shadow: 1px 1px 1px rgb(41, 41, 41);
}

.sub-judul {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    text-shadow: 1px 1px 1px rgb(41, 41, 41);
}

.bottom {
    display: block;
}

/* Menu cemilan */

.menu-cemilan {
    margin-top: 50px;
    text-align: center;
}

.judul-cemilan,
.judul-kontak {
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: 'Red Hat Display', sans-serif;
    display: inline-block;
}

.judul-cemilan::after,
.judul-kontak::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    border-bottom: 3px solid #504e4e;
    margin: auto;

}

.cards {
    margin-top: 30px;
    background-image: linear-gradient(to top, rgb(228, 242, 255), rgb(241, 248, 255), rgb(222, 225, 228));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    margin: 30px 20px;
    border: 3px solid rgb(41, 41, 41);
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgb(78, 78, 78);
    background-color: white;
}

.subjudul-cemilan,
.text-cemilan {
    text-align: left;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.harga {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase !important;
}

.subjudul-cemilan {
    margin-top: 10px;
}

.text-cemilan {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.tombol {
    cursor: pointer;
    background-color: rgb(0, 230, 118);
    width: 45%;
    border-radius: 200px;
    height: 28px;
    margin: 10px 0 10px 0;
    border: 2px solid rgb(0, 132, 255);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: .7px;
}

.tombol:hover {
    color: rgb(0, 230, 118);
    background-color: white;
}

/* Kontak */
.kontak {
    margin-top: 50px;
    text-align: center;
}

.wrap {
    background-image: linear-gradient(rgb(251, 213, 79), rgb(255, 90, 38));
    margin-top: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


.kontak p {
    font-size: 20px;
}

.subjudul-kontak {
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgb(41, 41, 41);
    grid-column: 1/-1;
}


/* Footer */
footer {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 50px;
    background-color: #504e4e;
    padding: 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    gap: 20px;
}

hr {
    margin-top: 50px;
    position: absolute;
    right: 30px;
    left: 30px;
    border-color: white;
    opacity: .7;
    bottom: 40px;
}

.lokasi,
.tentang {
    text-align: center;
}

.tentang {
    margin-bottom: 70px;
}


.lokasi h4,
.tentang h4 {
    font-weight: 300;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 18px;
}

.lokasi p,
.tentang p {
    font-size: 15px;
    line-height: 22px;
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 30px;
}

/* Responsive */
@media (max-width:1024px) {
    nav ul {
        width: 50%;

    }

    .wrap {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width:768px) {
    .wrap {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media(max-width:725px) {
    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        flex-direction: column;
        height: 100vh;
        background-color: rgba(41, 41, 41, .8);
        transform: translateX(100%);
        opacity: 0;
        transition: all .4s ease-in;
    }

    nav ul.tampil {
        transform: translateX(0);
        opacity: 1;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        height: 35px;
        width: 35px;
        right: 22px;
        top: 24px;
        justify-content: space-between;
        position: absolute;
    }

    .hamburger-menu span {
        display: block;
        position: fixed;
        top: 33px;
        right: 30px;
        height: 17px;
        width: 20px;
        height: 3px;
        background-color: white;
        transition: all .3s ease-in;
    }

    .hamburger-menu input {
        position: fixed;
        z-index: 99;
        top: 33px;
        right: 30px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        opacity: 0;
    }

    .hamburger-menu span:nth-child(2) {
        transform-origin: 0 0;
    }

    .hamburger-menu span:nth-child(3) {
        top: 40px;
    }

    .hamburger-menu span:nth-child(4) {
        top: 47px;
        transform-origin: 0 80%;
    }

    .hamburger-menu input:checked~span:nth-child(2) {
        transform: rotate(45deg) translate(-2px, -2px);
        width: 23px;
    }

    .hamburger-menu input:checked~span:nth-child(3) {
        transform: scale(0);
    }

    .hamburger-menu input:checked~span:nth-child(4) {
        transform: rotate(-45deg) translate(1px, -2px);
        width: 23px;
    }

    .hamburger-menu span:nth-child(2).active,
    .hamburger-menu span:nth-child(4).active {
        background-color: #0004ff;
    }
}

@media (max-width:500px) {


    .info {
        top: 33%;
        padding: 0 5px;
    }

    .judul {
        font-size: 2em;
    }

    .sub-judul {
        font-size: 15px;
    }
}


@media (max-width:420px) {
    hr {
        bottom: 55px;
    }

}

@media (max-width:360px) {
    nav ul {
        width: 65%;
    }

    header {
        height: 50vh;
    }

    .logo {
        font-size: 20px;

    }

    .info {
        top: 30%;
    }

    .judul {
        font-size: 1.8em;
    }

    .sub-judul {
        font-size: 14px;
    }

    .info .bottom {
        display: inline;
    }

    .menu-kontak p {
        font-size: 16px;
    }
}